@model Poczekalniav1.Models.OpcjeModel
@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <style>
.body-content {
    background-color: @Model.BackgroundColor;
}

.body-bgimage {
    background-image: url(../../Content/Images/@Model.BackgroundImg);
    opacity: calc(@Model.BackgroundImgOpacity/100);
}


    </style>
}

<div style="position:fixed; z-index:9999; top:0; ">
    Numer: <input type="number" name="numer" id="numer" value="" />
    Gabinet: <input type="text" name="gabinet" id="gabinet" value="" />
    <button onclick="WezwijPacjenta()">Wezwij</button>
    <button onclick="ObsluzPacj()">Obsluz</button>
</div>

<div id="OpcjeWindow" style="display:none">
    @Html.Partial("OknoOpcji")
</div>


<div id="listaWezwan"></div>
Aktualnie do wezwani:
<div id="AtuWezwani"></div>
W kolejce do wezawania:
<div id="Wkolejce"></div>

Client:
<div id="klient"></div>




<div id="numerek" style="display:none">
    <div class="kontenerKafelka">
        <div class="wycentrujWertykalnie">
            <div class="kafelekNumerka">
                <div class="numerPacjenta" id="numerPacjenta">
                    20
                </div>
                <div class="nazwaGabinetu" id="nazwaGabinetu">
                    NFZ GINEKOLOG
                </div>
            </div>
        </div>
    </div>
</div>


<footer></footer>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        function WezwijPacjenta() {
            $.ajax({
                url: "/Home/WezwijPacjenta",
                data: {
                    numer: $("#numer").val(),
                    gabinet: $("#gabinet").val()
                }
            })
        };

        function ObsluzPacj() {
            $.ajax({
                url: "/Home/ObsluzPacjenta",
                data: {
                    numer: $("#numer").val()
                }
            })
        };



    //var inter = setInterval(ttt, 2000);
    var licznik = 0;
        var czyPobrany = "True";

        $(function () {
            $.connection.hub.start();
            var clientHub = $.connection.testHub;

            clientHub.client.wyswietlNr = function (message) {
                //console.log(message);
                if (message != null) {
                console.log("@DateTime.Now.TimeOfDay || Pokaz : " + message.NUMER_DZIENNY);
                    $("#numerPacjenta").html(message.NUMER_DZIENNY);
                    $("#nazwaGabinetu").html(message.GABINET_NAZWA);
                    $("#numerek").css("display", "block");
                }
            }

            clientHub.client.ukryjNr = function (message) {
                console.log("@DateTime.Now.TimeOfDay ||  Ukryj : " + message.NUMER_DZIENNY);
                        $("#numerPacjenta").html("");
                        $("#nazwaGabinetu").html("");
                    $("#numerek").css("display", "none");
            }

            var AtuWezwani = $("#AtuWezwani");
            //listaWezwan
            //Wkolejce
                //setTimeout(function () { $("#numerek").css("display", "none");}, 9000);
            clientHub.client.aktuListeNr = function (lista) {
                AtuWezwani.append(lista + "<br />");   
            };






        $(document).keyup(function (e) {

            if (e.keyCode == 27) {
                var opcjeWindow = $("#OpcjeWindow");

                if (opcjeWindow.css("display") == "none") {
                    //$.ajax({
                    //    url: "/Home/OknoOpcji",
                    //    success: function (html) {
                    //        opcjeWindow.html(html);
                    //       opcjeWindow.css("display", "block");
                    //    },
                    //});
                   opcjeWindow.css("display", "block");
                }
                else {
                    opcjeWindow.css("display", "none");
                }
            }
        });
    });

    function ttt() {
        //console.log("######################################################################");
        //console.log("Interval nr " + licznik++);
        clearInterval(inter);

        $.ajax({
            url: "/Home/WyswietlNumerek",
            success: function (html) {
                $("#numerek").html(html);
            },
        });

        $.ajax({
            url: "/Home/GetDbInfo",
            success: function (html) {
                @*console.log("------------------------------- DbInfo ------------------------------");
                console.log("@DateTime.Now.TimeOfDay" + " || DataSource: " + html.DataSource);
                console.log("@DateTime.Now.TimeOfDay" + " || Connstring " + html.ConnString);
                console.log("------------------------------- End DbInfo ------------------------------");*@
            },
        });

        $.ajax({
            url: "/Home/CzyPobrany",
            success: function (html) {
                czyPobrany = html;
                //console.log("html = " + czyPobrany);
                //console.log("html type = " + typeof (czyPobrany));

                //console.log("czyPobrany = " + czyPobrany);
                //console.log("czyPobrany type = " + typeof (czyPobrany));

                if (czyPobrany == "True") {
                    console.log("TimeOut");
                    setTimeout(function () { inter = setInterval(ttt, 2000); console.log("After TimeOut"); }, 15000);
                }
                else {
                    inter = setInterval(ttt, 2000);
                }
            },
        });
    }
    </script>
}