@model Poczekalniav1.Models.OpcjeModel
@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <style>
.body-content {
    background-color: @Model.BackgroundColor;
}

.body-bgimage {
    background-image: url(../../Content/Images/@Model.BackgroundImg);
    opacity: calc(@Model.BackgroundImgOpacity/100);
}


    </style>
}
<div id="OpcjeWindow" style="display:none">
    @Html.Partial("OknoOpcji")
</div>

<input type="text" name="testTxt" id="testTxt" value="" />
<button onclick="testttt()">Test</button>





Client:
<div id="klient"></div>




<div id="numerek" style="display:none">
    <div class="kontenerKafelka">
            <div class="wycentrujWertykalnie">
                <div class="kafelekNumerka">
                    <div class="numerPacjenta" id="numerPacjenta">
                        20
                    </div>
                    <div class="nazwaGabinetu" id="nazwaGabinetu">
                        NFZ GINEKOLOG
                    </div>
                </div>
            </div>
        </div>
</div>


<footer></footer>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        function testttt() {
            $.ajax({
                url: "/Home/testt"
            })
        }



    //var inter = setInterval(ttt, 2000);
    var licznik = 0;
        var czyPobrany = "True";

        $(function () {
            $.connection.hub.start();
            var clientHub = $.connection.testHub;

            clientHub.client.wyswietlNumerek = function (message) {
                console.log(message);
                $("#numerPacjenta").html(message.NUMER_DZIENNY);
                $("#nazwaGabinetu").html(message.GABINET_NAZWA);
                $("#numerek").css("display", "block");

                setTimeout(function () { $("#numerek").css("display", "none");}, 9000);

            };


            



        $(document).keyup(function (e) {

            if (e.keyCode == 27) {
                var opcjeWindow = $("#OpcjeWindow");

                if (opcjeWindow.css("display") == "none") {
                    //$.ajax({
                    //    url: "/Home/OknoOpcji",
                    //    success: function (html) {
                    //        opcjeWindow.html(html);
                    //       opcjeWindow.css("display", "block");
                    //    },
                    //});
                   opcjeWindow.css("display", "block");
                }
                else {
                    opcjeWindow.css("display", "none");
                }
            }
        });
    });

    function ttt() {
        //console.log("######################################################################");
        //console.log("Interval nr " + licznik++);
        clearInterval(inter);

        $.ajax({
            url: "/Home/WyswietlNumerek",
            success: function (html) {
                $("#numerek").html(html);
            },
        });

        $.ajax({
            url: "/Home/GetDbInfo",
            success: function (html) {
                @*console.log("------------------------------- DbInfo ------------------------------");
                console.log("@DateTime.Now.TimeOfDay" + " || DataSource: " + html.DataSource);
                console.log("@DateTime.Now.TimeOfDay" + " || Connstring " + html.ConnString);
                console.log("------------------------------- End DbInfo ------------------------------");*@
            },
        });

        $.ajax({
            url: "/Home/CzyPobrany",
            success: function (html) {
                czyPobrany = html;
                //console.log("html = " + czyPobrany);
                //console.log("html type = " + typeof (czyPobrany));

                //console.log("czyPobrany = " + czyPobrany);
                //console.log("czyPobrany type = " + typeof (czyPobrany));

                if (czyPobrany == "True") {
                    console.log("TimeOut");
                    setTimeout(function () { inter = setInterval(ttt, 2000); console.log("After TimeOut"); }, 15000);
                }
                else {
                    inter = setInterval(ttt, 2000);
                }
            },
        });
    }
    </script>
}